<h1>All Categories</h1>

<ul>
  <% @categories.each do |category| %>
    <li>
    <%= link_to "#{category.name.titleize}", category_path(category) %>
    </li>
  <% end %>
</ul>
<%= link_to "View all Posts", posts_path %>
