<div class="container">
  <h1>All Categories</h1>

  <ul>
    <% @categories.each do |category| %>
      <li>
      <%= link_to "#{category.name}", category_path(category) %>
      </li>
    <% end %>
  </ul>
</div>
