// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fa-comment:before {
  padding: 4px;
}

.comment-indicator {
  color: grey;
  opacity: 0.2;
  margin-left: 5px;
}

.goofy {
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
